.event {
    width: 200px;
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
    width: 350px;
    height: 280px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
}