.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  cursor: pointer;
}

/* General styling */
.lightFrame {
  font-size: 1.2rem;
  background-color: #ffffffb1;
  /* background-color: #2be406a2; */
  padding: 50px;
  border-radius: 50px;
  border: #999 solid 1px;
  width: 90%;
  margin: 0 auto;
}

.darkFrame {
  font-size: 1.2rem;
  /* background-color: #ee0707a0; */
  background-color: #000000a0;
  padding: 50px;
  border-radius: 50px;
  border: #999 solid 1px;
  width: 90%;
  margin: 0 auto;
}

.section {
  padding: 60px 0;
  text-align: center;
}

.event {
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  cursor: pointer;
  width: 350px;
  height: 280px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}